* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* INICIO DO HEADER/NAV */
.navbar {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navbar .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navbar .logo h2 {
    color: #f6f6f6;
}

.navbar .logo img {
    width: 50px;
}

.navbar .nav-list {
    display: flex;
    gap: 5px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #DDD;
    padding: 20px;
    transition: color ease-in 0.3s;
}

.nav-list a:hover {
    color: #FFF;
}
/* Fim do estilo do HEADER */

/* Ínicio de estilo do MAIN */
.section-content {
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: #121212;
    background-image: url(images/programador.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.section-content h1 {
    color: #FFF;
    font-size: 4rem;
}

.section-content p {
    font-size: 1.4rem;
    font-style: italic;
    color: cornflowerblue;
    margin: 12px 0px 35px 0px;
}

.section-content a {
    text-decoration: none;
    color: #181818;
}

.section-content .cta-button {
    cursor: pointer;
    background-color: #FFF;
    border: none;
    padding: 14px 28px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
}
/* Fim do estilo do MAIN */