* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* INICIO DO HEADER/NAV */
.navbar {
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navbar .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navbar .logo h2 {
    color: #f6f6f6;
}

.navbar .logo img {
    width: 50px;
}

.navbar .nav-list {
    display: flex;
    gap: 5px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #DDD;
    padding: 20px;
    transition: color ease-in 0.3s;
}

.nav-list a:hover {
    color: #FFF;
}
/* Fim do estilo do HEADER */

/* Ínicio de estilo do MAIN */
.section-content {
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: #121212;
    background-image: url(images/programador.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.section-content h1 {
    color: #FFF;
    font-size: 4rem;
}

.section-content p {
    font-size: 1.4rem;
    font-style: italic;
    color: cornflowerblue;
    margin: 12px 0px 35px 0px;
}

.section-content a {
    text-decoration: none;
    color: #181818;
}

.section-content .cta-button {
    cursor: pointer;
    background-color: #FFF;
    border: none;
    padding: 14px 28px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;

    transition: transform ease-in-out 0.2s;
}

.section-content .cta-button:hover {
    transform: scale(1.05);
}
.section-content .cta-button:active {
    transform: scale(0.98);
}
/* Fim do estilo do MAIN */

/* INICIO SEÇÃO SOBRE */
.about-section {
    background-color: #FFFFFF;
    width: 100%;
    padding: 80px 10%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.about-section div {
    max-width: 50%;
    padding-right: 40px;
}

.about-section div p {
    margin-bottom: 24px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.about-section div h2 {
    position: relative;
    font-size: 2.4rem;
    margin-bottom: 18px;
}

.about-section div h2::after {
    content: "";
    position: absolute;
    width: 85px;
    height: 5px;
    border-radius: 1.2rem;
    background-color: #ac1e8d;
    left: 10px;
    bottom: -2px;
}

.about-section img {
    max-width: 450px;
    border-radius: 24px;
}
/* FIM SEÇÃO SOBRE */

/* INICIO SEÇÃO PROJETO */
.section-projects {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.section-projects h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-projects p {
    margin-bottom: 40px;
    font-style: italic;
}

.section-projects .project-list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-projects img {
    width: 22%;
    opacity: 0.8;
    transition: opacity ease-out 0.4s;
}

.section-projects img:hover {
    opacity: 1.0;
}

.section-projects .action {
    cursor: pointer;
    background-color: #181818;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 18px;
    color: #FFF;
    margin-top: 18px;
    transition: all ease-out 0.3s;
}

.section-projects .action:hover {
    background-color: #292929;
}
/* FIM DA SEÇÃO PROJETO */

/* RODAPÉ INICIO */
footer {
    width: 100%;
    background-color: #181818;
    padding: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 14px 0;
}

footer p {
    color: #DDD;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover {
    text-decoration: underline;
}
/* RODAPÉ FIM */

/* RESPONSIVIDADE / MEDIA QUERIES */

@media screen and (max-width: 1080px) {
    /* INICIO NAVBAR */
    .navbar .logo {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
    /* FIM NAVBAR */
    
    /* INICIO MAIN */
    .section-content h1 {
        font-size: 2.8rem;
    }
    .section-content p {
        font-size: 1.1rem;
    }
    /* FIM MAIN */

    /* INICIO SOBRE */
    .about-section {
        flex-direction: column;
        padding: 80px 0px 0px 0px;
    }
    .about-section div {
        max-width: 80%;
    }

    .about-section div h2 {
        position: relative;
        font-size: 2.8rem;
    }
    .about-section div h2::after {
        left: 10px;
        width: 100px;
    }
    .about-section img {
        width: 80%;
        padding-top: 30px;
    }
    /* FIM DO SOBRE */

    /* INICIO PROJETOS */
    .section-projects img {
        width: 27%;
    }
    /* FIM PROJETOS */
}